*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
background-color: rgba(50, 50, 50);
font-family: 'Brush Script MT','Rage Italic';
margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{
	font-size: 1.25em;
	font-family: 'Bahnschrift';
}
ul{ list-style: none;}
a{ font-size: 1.5em;}

button{
	font-size: 1.25em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 5px;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	background-color: #C0C0C0; /* Color plateado */
    color: #000;
    
}
button:hover{
    background-color: rgb(169, 169, 169);

}

.Contenedor{
	max-width: 1400px;
	margin: 7px;
}

header	{
	background-color: rgb(210, 210, 210);
}
header .Logo{
	margin: 0;
	padding: 25px 30px;
	font-weight: bold;
	color: black;	
	font-size: 2em;

}

header .Contenedor{
    display: flex;
    flex-direction: colum;
    align-items: center;

}

header nav{
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
header a{
	padding:5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: rgb(10, 10, 10);
}

header a:hover{
	color: rgb(120, 120, 120);
}

#Principal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    height: 90vh;
    background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("xscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#Principal h1{
	color: white;
}


#Seccion2{
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("estrellas.jpg");


}

#Seccion2 .Contenedor{
	color: rgb(240,240,240);
	text-align: center;
	padding: 200px 12px;
	text-justify: center;
}

#VideosP {
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("estrellas.jpg");
	color: rgba(240, 240, 240);
	text-align: center;
}


#VideosP .Contenedor{
	padding: 150px 12px;

}

#VideosP h2{
	margin-top: 0;
}

#VideosP p{
	display: none;
}
 
#VideosP .video{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.video:first-child{
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("treler.jpg");

}
.video:nth-child(2){
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("billie.jpg");

}
.video:nth-child(3){
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("beatit.jpg");

}

#Pasosp {
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("estrellas.jpg");
	color: rgb(240, 240,240);
	text-align: center;
	
}


#Pasosp .Contenedor{
	padding: 150px 12px;

}

#Pasosp h2{
	margin-top: 0;
}

#Pasosp p{
	display: none;
	color: rgb(220, 220, 220);
}

 
#Pasosp .pasos{
	
    background-size: 100% 100%;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    
}

.pasos:first-child{
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("moonwalk.jpg");

}
.pasos:nth-child(2){
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("gravedad.jpg");

}
.pasos:nth-child(3){
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("puntas.jpg");

}
#caracteristicas{
	background-image: linear-gradient(
       0deg,
       rgba(0, 0, 0, 0.5),
       rgba(0, 0, 0, 0.5)
    )
    ,url("estrellas.jpg");
}

#caracteristicas .Contenedor{
	text-align: center;
	padding: 250px	12px;

}
#caracteristicas li{
	margin: 16px 0px;
	font-weight: bold;
	font-size: 1.7em;
	color: white;
	text-align: left;
}

footer{
	background-color: rgb(210, 210, 210);
}

footer .Contenedor{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: flex-end;

}

footer p{

margin: 0;
padding: 12px;
color: rgb(50, 50, 50);
}

@media(min-width:720px){

header{
	position: fixed;
	width: 100%;
	
    
}

	header .Contenedor{
		flex-direction: row;
		justify-content:space-between ;
		}

	 header nav{
	 	flex-direction: row;
		padding-bottom: 0;
		padding-right: 20px;
	 }

	#caracteristicas .Contenedor{
		display: flex;
		justify-content: center;
	}

	#caracteristicas .texto-caracteristicas{
		width: 50%;
		max-width: 600px;
		text-align: initial;
		padding-left: 30px;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center ;
	}

	#caracteristicas ul{
		margin: 100px 100px;

	}

	#caracteristicas h2{
		margin-top: 0px	;
	}

	#caracteristicas .imagen-contenedor{
		background-image:url("maicol.jpg");
		background-size: cover;
		background-position: center center;
		height: 500px;
		width: 400px;

	}

	#Pasosp	.Pasos{
		display: flex;
		justify-content: center;

	}
	#Pasosp	p{
		display: block;
		margin-bottom: 	30px;
	}

	#Pasosp	h3{
		margin-top: 0px;
	}

	#Pasosp	.pasos{
		padding: 50px;
	}
}
